.color1{
  background-color:#5D6C89;
}
.color2{
  background-color:#36D6E7;
}
.color3{
  background-color:#FEB06A;
}
.color4{
  background-color:#FBF6F3;
}

.bgrHero{
  background: url('./components/dumb/wall.png')
  no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.horiz{
  display: flex;
  flex-direction: column;
}

body{
  font-family: 'Quicksand', sans-serif;
 
 
}

.footer2{
  padding: 0;
}
.padingfooter{
  padding: 3rem 1.5rem 6rem;
}


.marginNarudzbe{
  margin: 15px
}


.boxnoshadows{
  border: none;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.red{
  color: red
}

.bgrOrange{
  background-color: #DBA797;
}
.bgrSpecial{
  /*
background-image: url("./components/elements/footer8.jpg")
*/
}

.bgrGreen{
  background-color: #78B3A3;
  color:white
}
.pastelText{
  color:#FFF9F7;
}

.green{
color: #78B3A3;
/*
color:#FFE6DE;

*/
}

.day{
  background-color: rgb(87, 87, 87);
 font-size: 8em
}

.hour{
  background-color:  rgb(87, 87, 87);;
 font-size: 4em
}
.min{
  background-color: rgb(87, 87, 87);
 font-size: 2em
}
.sec{
  background-color: rgb(87, 87, 87);
 font-size: 1em
}

  .slide-container {
    width: 100%;
    margin: auto; }
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }

  @media only screen and (max-width: 600px) {
    .horiz{
      display: flex;
      flex-direction: row;
    }
    .odmakniodruba{
      margin:7px
    }
  
    .aa{
      
    /*  transform: scale(2.3);
      padding-top: 20px
      */
      
    }
    }
  


    .progress.is-custom::-webkit-progress-value {
      background-color:  #DBA797
    }
  
    .progress.is-custom::-moz-progress-bar {
      background-color:  #DBA797
    }
  
    .progress.is-custom::-ms-fill {
      background-color:  #DBA797
    }
  
    .progress.is-custom:indeterminate {
      background-color:  #DBA797
    }

    .katBox{
      padding: 30;
      margin:666;
    }

    .textOrange{
      color:  #DBA797
    }